{% extends 'base.html.twig' %}

{% block title %}Ingredients List{% endblock %}

{% block body %}
    <div class="container popover-content">
        <div class="row">
            <div class="col-6 col-md-6">
                <div>
                    <h2>Ingredients List</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Cost</td>
                            <td>Quantity</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>Action</td>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in results %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.getType() }}</td>
                                <td>{{ item.cost }}</td>
                                <td>{{ item.quantity }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td><a href="{{ path('edit_ingredient', {'id': item.id}) }}" onclick="return confirm('Are u sure?')">Edit</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if(amortization) %}
                        <h3>Amortization: {{ amortization }}</h3>
                    {% endif %}
                    {% if(been_cost) %}
                        <h3>Been cost: {{ been_cost }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}