<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('add_cup') }}">Add cup</a></li>
                <li><a href="{{ path('add_user') }}">Add user</a></li>
                <li><a href="{{ path('add_user_credit') }}">Add credit</a></li>
                <li><a href="{{ path('add_ingredient') }}">Add ingredient</a></li>
                <li><a href="{{ path('add_setting') }}">Add Settings</a></li>
            </ul>
        </div>
    </div>
</nav>